.HeaderAdd{
    background: #001d8a;
    background: -moz-linear-gradient(left, #001d8a 0%, #0097ce 100%);
    background: -webkit-linear-gradient(left, #001d8a 0%,#0097ce 100%);
    background: linear-gradient(to right, #001d8a 0%,#0097ce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001d8a', endColorstr='#0097ce',GradientType=1 );
    color: white;  
}